

.active {
	background-color: rgba(94, 94, 94, 0.48);
	
}


.SearchField {
	padding: 5px;
	margin: 5px;
	width: 95%;

}

.SearchHeader {
	border-bottom: 1px solid rgba(94, 94, 94, 0.48);
	margin-bottom: 0;
}

.ListBody {
	margin-bottom: 0;
	padding: 5px;
	padding-bottom: 0;
	text-align: left;
	height: 88%;
	width: 100%;
	color: black;
	background-color: white;
	
	li {
		list-style-type: none;
		font-size: 1.15em;
		margin: 0;
		padding: 5px 0;
		text-align:  left;
		
		&:hover {
			background-color: rgba(94, 94, 94, 0.48);
		}
	}
}


.PatientsFooter {
	position: absolute;
	bottom: 0;
	width: 99%;
	margin-bottom: 0;
	padding: 0;
}